@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-main_bkg: 235deg 16% 15%;
    --color-content_bkg: 235deg 12% 19%;
    --white: 0deg 0% 100%;
    --theme_grey: 0deg 0% 100%;
  }
  :root[data-theme="light"] {
    --color-main_bkg: 220deg 69% 97%;
    --color-content_bkg: 0deg 0 100%;
    --white: 0deg 0% 0;
    --theme_grey: 216deg 15% 57%;
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.400");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  .visually-hidden {
    border-width: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    background-color: red;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

select {
  appearance: none;
  background-image: url("../../public/svgs/icon-down.svg");
  background-repeat: no-repeat, repeat;
  background-position:
    right 0.7em top 50%,
    0 0;
  background-size:
    0.65em auto,
    100%;
}

input,
textarea,
select {
  border: 1px solid #828fa3;
}

input:focus,
textarea:focus,
select:focus {
  outline: transparent;
}
